.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  border-radius: 4px;
  background: rgb(8, 7, 79);
  padding: 19px 15px 15px 15px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.06);
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-btn {
  background: #2563eb;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #1d4ed8;
}

.hamburger {
  display: none;
  font-size: 22px;
  padding-right: 14px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgb(8, 7, 79);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    display: none; 
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a,
  .nav-links button {
    width: 100%;
    text-align: left;
  }
}
